#logo__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;  
}

#pensum__tracker{
    font-size: 22px;
    margin-bottom: 30px;
    color: #ffffff;
}

#profile__container{
    font-size: 18px;
    border-radius: 50px;
}